

html
{
    font-size: 10px;
    font-family: arial, sans-serif;
}

header
{
text-align: right;
overflow: hidden;


}

header a:visited
{ 
text-decoration: none;
color: black; 
}

header li
{
display: inline;
float: right;
text-align: center;
padding: 14px 12px;
text-decoration: none;
}
header li a
{
text-decoration: none !important;
font-size: 13px;
}

header li:first-child {
background-image: url(../imgs/google-logo-small.png);
background-size: 42px;
background-repeat:no-repeat;   
padding: 30px; 
}


.searchbar
{
background: #fff;
border: 1px solid #dfe1e5;
border-radius: 24px;
height: 44px;
margin: 20px auto;
width: 582px;
margin: 0 auto;  
}
.links
{
width: 582px;
margin: 0 auto;  
}
.buttons
{
width: 582px;
margin: 20px auto;  
}

body button
{

    padding: 0 16px;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    margin: 11px 4px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
}

body
{
    margin: 0px !important;
    background-color: white;
    text-align: center;
}

body img
{
display: block;
padding-top: 110px;
margin: 10px auto;  
}

footer
{
    position: fixed;
}

footer {
    font-size: 15px;
    margin-top: 30px;
    background: #f2f2f2;
    width: 100%;
    bottom: 0;
}

footer div {
    font-size: 14px;
    font-family: arial, sans-serif;
    line-height: 40px;
    
}

footer div a {
    text-decoration: none;
    color: rgba(0,0,0,.54);

}

#footer-top
{
border-top: 1px solid #e4e4e4;
text-align: left;
}
#footer-top a {padding-left: 30px;}


#footer-bottom
{
    border-top: 1px solid #e4e4e4;
    padding: 0px !important;
    margin: 0px !important;
}



#footer-bot1
{
    float: left;
    display: inline;
    text-align: left;
    padding-left: 30px;
    border: 0px solid #e4e4e4 !important;
    padding: 0px !important;
    margin: 0 0 0 30px !important;
}
#footer-bot1 a
{padding-right: 20px;}

#footer-bot2
{
display: inline;
text-align: right;
padding-left: 30px;
border: 0px solid #e4e4e4 !important;
padding: 0px !important;
margin: 0px !important;
}
#footer-bot2 a
{padding-right: 30px;}